---
Checks: '
        -*,
        performance-*,
        readability-*,
        clang-analyzer-alpha.core*,
        clang-analyzer-alpha.security*,
        clang-analyzer-alpha.unix.cstring*,
        clang-analyzer-core.uninitialized*,
        clang-analyzer-cplusplus.*,
        clang-analyzer-nullability*,
        clang-analyzer-unix*,
        cppcoreguidelines*,
        modernize-use-*,
        modernize-*,
        -modernize-raw-string-literal,
        -modernize-use-bool-literals,
        -modernize-use-trailing-return-type,
        -readability-identifier-length,
        -readability-implicit-bool-cast,
        -readability-else-after-return,
        -readability-named-parameter,
        -readability-implicit-bool-conversion,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,
        -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
        -cppcoreguidelines-pro-type-vararg,
        -cppcoreguidelines-pro-type-reinterpret-cast,
        -cppcoreguidelines-pro-type-union-access,
        -cppcoreguidelines-pro-type-cstyle-cast,
        -cppcoreguidelines-pro-bounds-constant-array-index,
        -cppcoreguidelines-owning-memory,
        '

CheckOptions:
  cppcoreguidelines-avoid-do-while.IgnoreMacros: true
  modernize-loop-convert.NamingStyle: lower_case
  readability-identifier-naming.ClassCase: lower_case
  readability-identifier-naming.ClassConstantCase: UPPER_CASE
  readability-identifier-naming.ClassMethodCase: lower_case
  readability-identifier-naming.MemberCase: lower_case
  readability-identifier-naming.ProtectedMemberPrefix: 'm_'
  readability-identifier-naming.PrivateMemberPrefix: 'm_'
  readability-simplify-boolean-expr.SimplifyDeMorgan: false

HeaderFilterRegex: ''
WarningsAsErrors: ''
AnalyzeTemporaryDtors: false
...
