---
Checks: '
        -*,
        performance-*,
        readability-*,
        clang-analyzer-alpha.core*,
        clang-analyzer-alpha.security*,
        clang-analyzer-alpha.unix.cstring*,
        clang-analyzer-core.uninitialized*,
        clang-analyzer-cplusplus.*,
        clang-analyzer-nullability*,
        clang-analyzer-unix*,
        cppcoreguidelines*,
        modernize-use-*,
        modernize-*,
        -modernize-raw-string-literal,
        -modernize-use-bool-literals,
        -modernize-use-trailing-return-type,
        -readability-implicit-bool-cast,
        -readability-else-after-return,
        -readability-named-parameter,
        -readability-implicit-bool-conversion,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,
        -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
        -cppcoreguidelines-pro-type-vararg,
        -cppcoreguidelines-pro-type-reinterpret-cast,
        -cppcoreguidelines-pro-type-union-access,
        -cppcoreguidelines-pro-type-cstyle-cast,
        -cppcoreguidelines-pro-bounds-constant-array-index
        '

CheckOptions:
  - key:             modernize-loop-convert.NamingStyle
    value:           lower_case
  - key:             readability-identifier-naming.GlobalConstantPrefix
    value:           'g_'
  - key:             readability-identifier-naming.ClassCase
    value:           lower_case
  - key:             readability-identifier-naming.ClassConstantCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.ClassMethodCase
    value:           lower_case
  - key:             readability-identifier-naming.MemberCase
    value:           lower_case
  - key:             readability-identifier-naming.ProtectedMemberPrefix
    value:           'm_'
  - key:             readability-identifier-naming.PrivateMemberPrefix
    value:           'm_'
HeaderFilterRegex: ''
WarningsAsErrors: ''
AnalyzeTemporaryDtors: false
...
