[submodule "lib/i3ipcpp"]
	path = lib/i3ipcpp
	url = https://github.com/jaagr/i3ipcpp
	branch = wip-lemonbuddy-2.0
[submodule "lib/xpp"]
	path = lib/xpp
	url = https://github.com/jaagr/xpp
	branch = 1.2.2
