[submodule "contrib/lemonbar-sm-git"]
	path = contrib/lemonbar-sm-git
	url = https://github.com/jaagr/bar
	branch = v1.1
[submodule "contrib/i3ipcpp"]
	path = contrib/i3ipcpp
	url = https://github.com/jaagr/i3ipcpp
	branch = v0.1.3
