[submodule "lib/i3ipcpp"]
	path = lib/i3ipcpp
	url = https://github.com/polybar/i3ipcpp
	branch = master
[submodule "lib/xpp"]
	path = lib/xpp
	url = https://github.com/polybar/xpp
	branch = master
[submodule "lib/dwmipcpp"]
	path = lib/dwmipcpp
	url = https://github.com/mihirlad55/dwmipcpp
    branch = master
