pkgbase = polybar
	pkgdesc = A fast and easy-to-use status bar
	pkgver = 3.0.5
	pkgrel = 4
	url = https://github.com/jaagr/polybar
	install = polybar.install
	arch = i686
	arch = x86_64
	license = MIT
	makedepends = clang
	makedepends = cmake
	makedepends = git
	makedepends = python
	makedepends = python2
	makedepends = pkg-config
	depends = cairo
	depends = xcb-util-image
	depends = xcb-util-wm
	depends = xcb-util-xrm
	optdepends = alsa-lib: volume module support
	optdepends = libmpdclient: mpd module support
	optdepends = wireless_tools: network module support
	optdepends = jsoncpp: i3 module support
	optdepends = i3ipc-glib-git: i3 module support
	optdepends = ttf-unifont: Font used in example config
	optdepends = siji-git: Font used in example config
	optdepends = curl: github module support
	conflicts = polybar-git
	source = polybar::git+https://github.com/jaagr/polybar.git#tag=3.0.5
	md5sums = SKIP

pkgname = polybar

