pkgbase = lemonbuddy
	pkgdesc = A fast and easy-to-use tool for Lemonbar
	pkgver = 1.4.1
	pkgrel = 2
	url = https://github.com/jaagr/lemonbuddy
	arch = i686
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = pkg-config
	makedepends = clang
	makedepends = glibc
	makedepends = boost
	depends = bash
	depends = libxcb
	optdepends = alsa-lib: volume module support
	optdepends = libmpdclient: mpd module support
	optdepends = wireless_tools: network module support
	optdepends = libsigc++: i3 module support
	optdepends = jsoncpp: i3 module support
	optdepends = i3ipc-glib-git: i3 module support
	conflicts = lemonbuddy-git
	source = lemonbuddy::git+https://github.com/jaagr/lemonbuddy.git#tag=1.4.1
	md5sums = SKIP

pkgname = lemonbuddy

